In [ ]:
src = 'http://pandas.pydata.org/pandas-docs/stable/10min.html'

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

/usr/lib64/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [3]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
s

a    0.855072
b    0.438996
c    1.012318
d   -1.306404
e   -0.176826
dtype: float64

In [6]:
s = pd.Series([1,2,3,4,5], index=['a', 'b', 'c', 'd', 'e'])
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [7]:
s.index

Index([u'a', u'b', u'c', u'd', u'e'], dtype='object')

In [8]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.325713 -0.906875 -0.575104  0.176548
2013-01-02 -2.390985  1.065147 -0.052103  0.558897
2013-01-03  1.902415  0.977951 -0.774096  0.319044
2013-01-04  0.379681  0.450829  0.314337 -2.349054
2013-01-05  0.547422 -2.318863 -0.502846  0.029829
2013-01-06  0.881109  0.393550 -0.367996 -0.310182

In [13]:
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20130102'),
                     'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4,dtype='int32'),
                     'E' : pd.Categorical(["test","train","test","train"]),
                     'F' : 'foo' })
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [14]:
df2.C

0    1.0
1    1.0
2    1.0
3    1.0
Name: C, dtype: float32

In [15]:
df.values

array([[-0.32571333, -0.90687464, -0.57510394,  0.17654779],
       [-2.39098506,  1.06514697, -0.05210281,  0.55889721],
       [ 1.90241514,  0.97795132, -0.77409576,  0.31904411],
       [ 0.37968132,  0.45082932,  0.31433678, -2.34905415],
       [ 0.54742161, -2.31886316, -0.5028457 ,  0.02982921],
       [ 0.88110903,  0.39355038, -0.36799643, -0.31018241]])

In [16]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.165655 -0.056377 -0.326301 -0.262486
std    1.448973  1.313738  0.395204  1.062741
min   -2.390985 -2.318863 -0.774096 -2.349054
25%   -0.149365 -0.581768 -0.557039 -0.225180
50%    0.463551  0.422190 -0.435421  0.103188
75%    0.797687  0.846171 -0.131076  0.283420
max    1.902415  1.065147  0.314337  0.558897

In [17]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.325713   -2.390985    1.902415    0.379681    0.547422    0.881109
B   -0.906875    1.065147    0.977951    0.450829   -2.318863    0.393550
C   -0.575104   -0.052103   -0.774096    0.314337   -0.502846   -0.367996
D    0.176548    0.558897    0.319044   -2.349054    0.029829   -0.310182

In [19]:
df2 = df.copy()
df2

                   A         B         C         D
2013-01-01 -0.325713 -0.906875 -0.575104  0.176548
2013-01-02 -2.390985  1.065147 -0.052103  0.558897
2013-01-03  1.902415  0.977951 -0.774096  0.319044
2013-01-04  0.379681  0.450829  0.314337 -2.349054
2013-01-05  0.547422 -2.318863 -0.502846  0.029829
2013-01-06  0.881109  0.393550 -0.367996 -0.310182

In [21]:
df2['E'] = ['one', 'one','two','three','four','three']
df2

                   A         B         C         D      E
2013-01-01 -0.325713 -0.906875 -0.575104  0.176548    one
2013-01-02 -2.390985  1.065147 -0.052103  0.558897    one
2013-01-03  1.902415  0.977951 -0.774096  0.319044    two
2013-01-04  0.379681  0.450829  0.314337 -2.349054  three
2013-01-05  0.547422 -2.318863 -0.502846  0.029829   four
2013-01-06  0.881109  0.393550 -0.367996 -0.310182  three

In [22]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2013-01-03  1.902415  0.977951 -0.774096  0.319044   two
2013-01-05  0.547422 -2.318863 -0.502846  0.029829  four

In [23]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [25]:
df['F'] = s1
df

                   A         B         C         D    F
2013-01-01 -0.325713 -0.906875 -0.575104  0.176548  NaN
2013-01-02 -2.390985  1.065147 -0.052103  0.558897  1.0
2013-01-03  1.902415  0.977951 -0.774096  0.319044  2.0
2013-01-04  0.379681  0.450829  0.314337 -2.349054  3.0
2013-01-05  0.547422 -2.318863 -0.502846  0.029829  4.0
2013-01-06  0.881109  0.393550 -0.367996 -0.310182  5.0

In [26]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [28]:
df.at[dates[0],'A'] = 0
df

                   A         B         C         D    F
2013-01-01  0.000000 -0.906875 -0.575104  0.176548  NaN
2013-01-02 -2.390985  1.065147 -0.052103  0.558897  1.0
2013-01-03  1.902415  0.977951 -0.774096  0.319044  2.0
2013-01-04  0.379681  0.450829  0.314337 -2.349054  3.0
2013-01-05  0.547422 -2.318863 -0.502846  0.029829  4.0
2013-01-06  0.881109  0.393550 -0.367996 -0.310182  5.0

In [29]:
df.iat[0,1] = 1
df

                   A         B         C         D    F
2013-01-01  0.000000  1.000000 -0.575104  0.176548  NaN
2013-01-02 -2.390985  1.065147 -0.052103  0.558897  1.0
2013-01-03  1.902415  0.977951 -0.774096  0.319044  2.0
2013-01-04  0.379681  0.450829  0.314337 -2.349054  3.0
2013-01-05  0.547422 -2.318863 -0.502846  0.029829  4.0
2013-01-06  0.881109  0.393550 -0.367996 -0.310182  5.0

In [30]:
df.loc[:,'D']

2013-01-01    0.176548
2013-01-02    0.558897
2013-01-03    0.319044
2013-01-04   -2.349054
2013-01-05    0.029829
2013-01-06   -0.310182
Freq: D, Name: D, dtype: float64

In [39]:
df.loc[:,'D'] = np.array([5] * (len(df)-1),np.nan )
df

TypeError: data type not understood

In [40]:
df

                   A         B         C  D    F
2013-01-01  0.000000  1.000000 -0.575104  5  NaN
2013-01-02 -2.390985  1.065147 -0.052103  5  1.0
2013-01-03  1.902415  0.977951 -0.774096  5  2.0
2013-01-04  0.379681  0.450829  0.314337  5  3.0
2013-01-05  0.547422 -2.318863 -0.502846  5  4.0
2013-01-06  0.881109  0.393550 -0.367996  5  5.0

In [42]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1

                   A         B         C  D    F   E
2013-01-01  0.000000  1.000000 -0.575104  5  NaN NaN
2013-01-02 -2.390985  1.065147 -0.052103  5  1.0 NaN
2013-01-03  1.902415  0.977951 -0.774096  5  2.0 NaN
2013-01-04  0.379681  0.450829  0.314337  5  3.0 NaN

In [43]:
df1.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04'], dtype='datetime64[ns]', freq='D')

In [47]:
df1.dropna(how='F')

ValueError: invalid how option: F

In [48]:
pd.isnull(df1)

                A      B      C      D      F     E
2013-01-01  False  False  False  False   True  True
2013-01-02  False  False  False  False  False  True
2013-01-03  False  False  False  False  False  True
2013-01-04  False  False  False  False  False  True

In [49]:
df.mean()

A    0.219940
B    0.261436
C   -0.326301
D    5.000000
F    3.000000
dtype: float64

In [50]:
df

                   A         B         C  D    F
2013-01-01  0.000000  1.000000 -0.575104  5  NaN
2013-01-02 -2.390985  1.065147 -0.052103  5  1.0
2013-01-03  1.902415  0.977951 -0.774096  5  2.0
2013-01-04  0.379681  0.450829  0.314337  5  3.0
2013-01-05  0.547422 -2.318863 -0.502846  5  4.0
2013-01-06  0.881109  0.393550 -0.367996  5  5.0

In [52]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s

0       A
1       B
2       C
3    Aaba
4    Baca
5     NaN
6    CABA
7     dog
8     cat
dtype: object

In [53]:
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

In [55]:
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0 -0.796971  0.732945 -0.431397  1.824130
1 -0.325428  1.294936 -2.708781 -1.480634
2 -0.150544 -0.620170 -0.871771 -1.661912
3  1.250814 -0.354505 -0.656311  0.474684
4 -1.131442  0.674087 -0.991917 -0.273787
5 -0.531354 -0.225140 -1.082512  1.252564
6 -0.248268  0.722654 -1.544407 -1.087475
7  1.318562 -1.414684 -1.598145 -1.443840
8 -0.772661 -0.727853  0.391897 -2.778236
9 -1.690212 -2.465078  2.564079 -0.120268

In [57]:
pieces = [df[:3], df[3:7], df[7:]]
pd.concat(pieces)

          0         1         2         3
0 -0.796971  0.732945 -0.431397  1.824130
1 -0.325428  1.294936 -2.708781 -1.480634
2 -0.150544 -0.620170 -0.871771 -1.661912
3  1.250814 -0.354505 -0.656311  0.474684
4 -1.131442  0.674087 -0.991917 -0.273787
5 -0.531354 -0.225140 -1.082512  1.252564
6 -0.248268  0.722654 -1.544407 -1.087475
7  1.318562 -1.414684 -1.598145 -1.443840
8 -0.772661 -0.727853  0.391897 -2.778236
9 -1.690212 -2.465078  2.564079 -0.120268

In [69]:
pieces[1].dtypes

0    float64
1    float64
2    float64
3    float64
dtype: object

In [61]:
pd.concat(pieces[2])

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"

In [ ]:
Join