In [2]:
import pandas as pd
import numpy as np
import matplotlib
import glob
import sys
import json


def parse_sysctl_conf(path):
    for record in read_json(path):
        for line in record['content'].splitlines():
            #print ("line: ", line)
            parsed = record.copy()
            
            del parsed['content']
            row = line.strip()
            if not row or "=" not in row or row.startswith('#'):
                continue

            try:
                (key, value) = row.split("=", 1)
            except:
                raise

            parsed["key"] = key.strip()
            parsed["value"] = value.strip()
            #print ("parsed: ", parsed)
            yield parsed
            

def read_json(path):
    for p in glob.glob(path):
        with open(p) as fp:
            for line in fp:
                yield json.loads(line)
                
gen = parse_sysctl_conf("./sysctl.json.test0")

df = pd.DataFrame(gen)

In [3]:
df

,accountnumber,attachment_uuid,case_number,createddate,hostname,key,path,release,target,uname,value,version
0,5510109,69954689-1856-4600-b6a8-9b2686ee32b3,01568602,2016-04-01 00:32:04,spcdrhellb01-prod.pgr.gob.mx,net.ipv4.ip_forward,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux spcdrhellb01-prod.pgr.gob.mx 2.6.32-504....,1,"[6, 6]"
1,5510109,69954689-1856-4600-b6a8-9b2686ee32b3,01568602,2016-04-01 00:32:04,spcdrhellb01-prod.pgr.gob.mx,net.ipv4.conf.default.rp_filter,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux spcdrhellb01-prod.pgr.gob.mx 2.6.32-504....,1,"[6, 6]"
2,5510109,69954689-1856-4600-b6a8-9b2686ee32b3,01568602,2016-04-01 00:32:04,spcdrhellb01-prod.pgr.gob.mx,net.ipv4.conf.default.accept_source_route,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux spcdrhellb01-prod.pgr.gob.mx 2.6.32-504....,0,"[6, 6]"
3,5510109,69954689-1856-4600-b6a8-9b2686ee32b3,01568602,2016-04-01 00:32:04,spcdrhellb01-prod.pgr.gob.mx,kernel.sysrq,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux spcdrhellb01-prod.pgr.gob.mx 2.6.32-504....,0,"[6, 6]"
4,5510109,69954689-1856-4600-b6a8-9b2686ee32b3,01568602,2016-04-01 00:32:04,spcdrhellb01-prod.pgr.gob.mx,kernel.core_uses_pid,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux spcdrhellb01-prod.pgr.gob.mx 2.6.32-504....,1,"[6, 6]"
5,5510109,69954689-1856-4600-b6a8-9b2686ee32b3,01568602,2016-04-01 00:32:04,spcdrhellb01-prod.pgr.gob.mx,net.ipv4.tcp_syncookies,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux spcdrhellb01-prod.pgr.gob.mx 2.6.32-504....,1,"[6, 6]"
6,5510109,69954689-1856-4600-b6a8-9b2686ee32b3,01568602,2016-04-01 00:32:04,spcdrhellb01-prod.pgr.gob.mx,net.bridge.bridge-nf-call-ip6tables,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux spcdrhellb01-prod.pgr.gob.mx 2.6.32-504....,0,"[6, 6]"
7,5510109,69954689-1856-4600-b6a8-9b2686ee32b3,01568602,2016-04-01 00:32:04,spcdrhellb01-prod.pgr.gob.mx,net.bridge.bridge-nf-call-iptables,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux spcdrhellb01-prod.pgr.gob.mx 2.6.32-504....,0,"[6, 6]"
8,5510109,69954689-1856-4600-b6a8-9b2686ee32b3,01568602,2016-04-01 00:32:04,spcdrhellb01-prod.pgr.gob.mx,net.bridge.bridge-nf-call-arptables,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux spcdrhellb01-prod.pgr.gob.mx 2.6.32-504....,0,"[6, 6]"
9,5510109,69954689-1856-4600-b6a8-9b2686ee32b3,01568602,2016-04-01 00:32:04,spcdrhellb01-prod.pgr.gob.mx,kernel.msgmnb,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux spcdrhellb01-prod.pgr.gob.mx 2.6.32-504....,65536,"[6, 6]"
10,5510109,69954689-1856-4600-b6a8-9b2686ee32b3,01568602,2016-04-01 00:32:04,spcdrhellb01-prod.pgr.gob.mx,kernel.msgmax,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux spcdrhellb01-prod.pgr.gob.mx 2.6.32-504....,65536,"[6, 6]"
11,5510109,69954689-1856-4600-b6a8-9b2686ee32b3,01568602,2016-04-01 00:32:04,spcdrhellb01-prod.pgr.gob.mx,kernel.shmmax,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux spcdrhellb01-prod.pgr.gob.mx 2.6.32-504....,68719476736,"[6, 6]"
12,5510109,69954689-1856-4600-b6a8-9b2686ee32b3,01568602,2016-04-01 00:32:04,spcdrhellb01-prod.pgr.gob.mx,kernel.shmall,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux spcdrhellb01-prod.pgr.gob.mx 2.6.32-504....,4294967296,"[6, 6]"
13,5510109,69954689-1856-4600-b6a8-9b2686ee32b3,01568602,2016-04-01 00:32:04,spcdrhellb01-prod.pgr.gob.mx,net.core.netdev_max_backlog,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux spcdrhellb01-prod.pgr.gob.mx 2.6.32-504....,2000,"[6, 6]"
14,5510109,69954689-1856-4600-b6a8-9b2686ee32b3,01568602,2016-04-01 00:32:04,spcdrhellb01-prod.pgr.gob.mx,net.core.netdev_budget,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux spcdrhellb01-prod.pgr.gob.mx 2.6.32-504....,600,"[6, 6]"
15,731995,40262906-1107-4918-ac11-5df7521ea051,01609237,2016-04-01 01:00:47,dayrhevizp033c,net.ipv4.ip_forward,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux dayrhevizp033c 2.6.32-504.30.3.el6.x86_6...,0,"[6, 6]"
16,731995,40262906-1107-4918-ac11-5df7521ea051,01609237,2016-04-01 01:00:47,dayrhevizp033c,net.ipv4.conf.default.rp_filter,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux dayrhevizp033c 2.6.32-504.30.3.el6.x86_6...,1,"[6, 6]"
17,731995,40262906-1107-4918-ac11-5df7521ea051,01609237,2016-04-01 01:00:47,dayrhevizp033c,net.ipv4.conf.default.accept_source_route,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux dayrhevizp033c 2.6.32-504.30.3.el6.x86_6...,0,"[6, 6]"
18,731995,40262906-1107-4918-ac11-5df7521ea051,01609237,2016-04-01 01:00:47,dayrhevizp033c,kernel.sysrq,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux dayrhevizp033c 2.6.32-504.30.3.el6.x86_6...,1,"[6, 6]"
19,731995,40262906-1107-4918-ac11-5df7521ea051,01609237,2016-04-01 01:00:47,dayrhevizp033c,kernel.core_uses_pid,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux dayrhevizp033c 2.6.32-504.30.3.el6.x86_6...,1,"[6, 6]"
20,731995,40262906-1107-4918-ac11-5df7521ea051,01609237,2016-04-01 01:00:47,dayrhevizp033c,net.ipv4.tcp_syncookies,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux dayrhevizp033c 2.6.32-504.30.3.el6.x86_6...,1,"[6, 6]"
21,731995,40262906-1107-4918-ac11-5df7521ea051,01609237,2016-04-01 01:00:47,dayrhevizp033c,net.bridge.bridge-nf-call-ip6tables,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux dayrhevizp033c 2.6.32-504.30.3.el6.x86_6...,0,"[6, 6]"
22,731995,40262906-1107-4918-ac11-5df7521ea051,01609237,2016-04-01 01:00:47,dayrhevizp033c,net.bridge.bridge-nf-call-iptables,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux dayrhevizp033c 2.6.32-504.30.3.el6.x86_6...,0,"[6, 6]"
23,731995,40262906-1107-4918-ac11-5df7521ea051,01609237,2016-04-01 01:00:47,dayrhevizp033c,net.bridge.bridge-nf-call-arptables,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux dayrhevizp033c 2.6.32-504.30.3.el6.x86_6...,0,"[6, 6]"
24,731995,40262906-1107-4918-ac11-5df7521ea051,01609237,2016-04-01 01:00:47,dayrhevizp033c,kernel.msgmnb,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux dayrhevizp033c 2.6.32-504.30.3.el6.x86_6...,65536,"[6, 6]"
25,731995,40262906-1107-4918-ac11-5df7521ea051,01609237,2016-04-01 01:00:47,dayrhevizp033c,kernel.msgmax,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux dayrhevizp033c 2.6.32-504.30.3.el6.x86_6...,65536,"[6, 6]"
26,731995,40262906-1107-4918-ac11-5df7521ea051,01609237,2016-04-01 01:00:47,dayrhevizp033c,kernel.shmmax,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux dayrhevizp033c 2.6.32-504.30.3.el6.x86_6...,68719476736,"[6, 6]"
27,731995,40262906-1107-4918-ac11-5df7521ea051,01609237,2016-04-01 01:00:47,dayrhevizp033c,kernel.shmall,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux dayrhevizp033c 2.6.32-504.30.3.el6.x86_6...,4294967296,"[6, 6]"
28,731995,40262906-1107-4918-ac11-5df7521ea051,01609237,2016-04-01 01:00:47,dayrhevizp033c,vm.swappiness,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux dayrhevizp033c 2.6.32-504.30.3.el6.x86_6...,0,"[6, 6]"

In [4]:
df['key'].value_counts()

net.bridge.bridge-nf-call-arptables          2
kernel.core_uses_pid                         2
net.ipv4.conf.default.accept_source_route    2
kernel.sysrq                                 2
net.ipv4.ip_forward                          2
kernel.msgmnb                                2
kernel.shmall                                2
net.ipv4.conf.default.rp_filter              2
kernel.shmmax                                2
net.bridge.bridge-nf-call-iptables           2
net.bridge.bridge-nf-call-ip6tables          2
net.ipv4.tcp_syncookies                      2
kernel.msgmax                                2
net.core.netdev_budget                       1
vm.swappiness                                1
net.core.netdev_max_backlog                  1
Name: key, dtype: int64

In [5]:
df.value.value_counts()

0              11
1               8
65536           4
68719476736     2
4294967296      2
600             1
2000            1
Name: value, dtype: int64

In [6]:
len(df.attachment_uuid.unique())

2

In [7]:
df[["rp_filter" in x for x in df["key"] ]].key.value_counts()

net.ipv4.conf.default.rp_filter    2
Name: key, dtype: int64

In [8]:
df[[v.startswith("0") for v in df.value]]

,accountnumber,attachment_uuid,case_number,createddate,hostname,key,path,release,target,uname,value,version
2,5510109,69954689-1856-4600-b6a8-9b2686ee32b3,01568602,2016-04-01 00:32:04,spcdrhellb01-prod.pgr.gob.mx,net.ipv4.conf.default.accept_source_route,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux spcdrhellb01-prod.pgr.gob.mx 2.6.32-504....,0,"[6, 6]"
3,5510109,69954689-1856-4600-b6a8-9b2686ee32b3,01568602,2016-04-01 00:32:04,spcdrhellb01-prod.pgr.gob.mx,kernel.sysrq,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux spcdrhellb01-prod.pgr.gob.mx 2.6.32-504....,0,"[6, 6]"
6,5510109,69954689-1856-4600-b6a8-9b2686ee32b3,01568602,2016-04-01 00:32:04,spcdrhellb01-prod.pgr.gob.mx,net.bridge.bridge-nf-call-ip6tables,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux spcdrhellb01-prod.pgr.gob.mx 2.6.32-504....,0,"[6, 6]"
7,5510109,69954689-1856-4600-b6a8-9b2686ee32b3,01568602,2016-04-01 00:32:04,spcdrhellb01-prod.pgr.gob.mx,net.bridge.bridge-nf-call-iptables,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux spcdrhellb01-prod.pgr.gob.mx 2.6.32-504....,0,"[6, 6]"
8,5510109,69954689-1856-4600-b6a8-9b2686ee32b3,01568602,2016-04-01 00:32:04,spcdrhellb01-prod.pgr.gob.mx,net.bridge.bridge-nf-call-arptables,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux spcdrhellb01-prod.pgr.gob.mx 2.6.32-504....,0,"[6, 6]"
15,731995,40262906-1107-4918-ac11-5df7521ea051,01609237,2016-04-01 01:00:47,dayrhevizp033c,net.ipv4.ip_forward,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux dayrhevizp033c 2.6.32-504.30.3.el6.x86_6...,0,"[6, 6]"
17,731995,40262906-1107-4918-ac11-5df7521ea051,01609237,2016-04-01 01:00:47,dayrhevizp033c,net.ipv4.conf.default.accept_source_route,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux dayrhevizp033c 2.6.32-504.30.3.el6.x86_6...,0,"[6, 6]"
21,731995,40262906-1107-4918-ac11-5df7521ea051,01609237,2016-04-01 01:00:47,dayrhevizp033c,net.bridge.bridge-nf-call-ip6tables,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux dayrhevizp033c 2.6.32-504.30.3.el6.x86_6...,0,"[6, 6]"
22,731995,40262906-1107-4918-ac11-5df7521ea051,01609237,2016-04-01 01:00:47,dayrhevizp033c,net.bridge.bridge-nf-call-iptables,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux dayrhevizp033c 2.6.32-504.30.3.el6.x86_6...,0,"[6, 6]"
23,731995,40262906-1107-4918-ac11-5df7521ea051,01609237,2016-04-01 01:00:47,dayrhevizp033c,net.bridge.bridge-nf-call-arptables,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux dayrhevizp033c 2.6.32-504.30.3.el6.x86_6...,0,"[6, 6]"
28,731995,40262906-1107-4918-ac11-5df7521ea051,01609237,2016-04-01 01:00:47,dayrhevizp033c,vm.swappiness,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux dayrhevizp033c 2.6.32-504.30.3.el6.x86_6...,0,"[6, 6]"

In [19]:
df2 = pd.DataFrame({'X' : ['B', 'B', 'A', 'B', 'A'], 'Y' : [1, 2, 3, 4, 5]}, index=['a','b','c','d','e'], columns=['he','X','Y','she'])

In [20]:
df2

    he  X  Y  she
a  NaN  B  1  NaN
b  NaN  B  2  NaN
c  NaN  A  3  NaN
d  NaN  B  4  NaN
e  NaN  A  5  NaN

In [22]:
grouptest = df2.groupby('X')
grouptest.groups

{'A': ['c', 'e'], 'B': ['a', 'b', 'd']}

In [23]:
grouptest.get_group('A')

    he  X  Y  she
c  NaN  A  3  NaN
e  NaN  A  5  NaN

In [39]:
grouptest.he.all()

X
A    True
B    True
Name: he, dtype: bool

In [31]:
grouptest.X.agg(len)

X
A    2
B    3
Name: X, dtype: int64

In [32]:
grouptest.Y.agg(len)

X
A    2
B    3
Name: Y, dtype: int64

In [35]:
grouptest.agg(len)

   he  Y  she
X
A   2  2    2
B   3  3    3

In [48]:
releases1 = df[df.key == "net.ipv4.ip_forward"].groupby("release")
releases1.key.agg(len)

release
Red Hat Enterprise Linux Server release 6.6 (Santiago)    2
Name: key, dtype: int64

In [46]:
releases2 = df.groupby("release")
releases2.key.agg(max)

release
Red Hat Enterprise Linux Server release 6.6 (Santiago)    vm.swappiness
Name: key, dtype: object

In [45]:
releases

In [40]:
df

,accountnumber,attachment_uuid,case_number,createddate,hostname,key,path,release,target,uname,value,version
0,5510109,69954689-1856-4600-b6a8-9b2686ee32b3,01568602,2016-04-01 00:32:04,spcdrhellb01-prod.pgr.gob.mx,net.ipv4.ip_forward,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux spcdrhellb01-prod.pgr.gob.mx 2.6.32-504....,1,"[6, 6]"
1,5510109,69954689-1856-4600-b6a8-9b2686ee32b3,01568602,2016-04-01 00:32:04,spcdrhellb01-prod.pgr.gob.mx,net.ipv4.conf.default.rp_filter,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux spcdrhellb01-prod.pgr.gob.mx 2.6.32-504....,1,"[6, 6]"
2,5510109,69954689-1856-4600-b6a8-9b2686ee32b3,01568602,2016-04-01 00:32:04,spcdrhellb01-prod.pgr.gob.mx,net.ipv4.conf.default.accept_source_route,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux spcdrhellb01-prod.pgr.gob.mx 2.6.32-504....,0,"[6, 6]"
3,5510109,69954689-1856-4600-b6a8-9b2686ee32b3,01568602,2016-04-01 00:32:04,spcdrhellb01-prod.pgr.gob.mx,kernel.sysrq,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux spcdrhellb01-prod.pgr.gob.mx 2.6.32-504....,0,"[6, 6]"
4,5510109,69954689-1856-4600-b6a8-9b2686ee32b3,01568602,2016-04-01 00:32:04,spcdrhellb01-prod.pgr.gob.mx,kernel.core_uses_pid,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux spcdrhellb01-prod.pgr.gob.mx 2.6.32-504....,1,"[6, 6]"
5,5510109,69954689-1856-4600-b6a8-9b2686ee32b3,01568602,2016-04-01 00:32:04,spcdrhellb01-prod.pgr.gob.mx,net.ipv4.tcp_syncookies,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux spcdrhellb01-prod.pgr.gob.mx 2.6.32-504....,1,"[6, 6]"
6,5510109,69954689-1856-4600-b6a8-9b2686ee32b3,01568602,2016-04-01 00:32:04,spcdrhellb01-prod.pgr.gob.mx,net.bridge.bridge-nf-call-ip6tables,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux spcdrhellb01-prod.pgr.gob.mx 2.6.32-504....,0,"[6, 6]"
7,5510109,69954689-1856-4600-b6a8-9b2686ee32b3,01568602,2016-04-01 00:32:04,spcdrhellb01-prod.pgr.gob.mx,net.bridge.bridge-nf-call-iptables,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux spcdrhellb01-prod.pgr.gob.mx 2.6.32-504....,0,"[6, 6]"
8,5510109,69954689-1856-4600-b6a8-9b2686ee32b3,01568602,2016-04-01 00:32:04,spcdrhellb01-prod.pgr.gob.mx,net.bridge.bridge-nf-call-arptables,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux spcdrhellb01-prod.pgr.gob.mx 2.6.32-504....,0,"[6, 6]"
9,5510109,69954689-1856-4600-b6a8-9b2686ee32b3,01568602,2016-04-01 00:32:04,spcdrhellb01-prod.pgr.gob.mx,kernel.msgmnb,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux spcdrhellb01-prod.pgr.gob.mx 2.6.32-504....,65536,"[6, 6]"
10,5510109,69954689-1856-4600-b6a8-9b2686ee32b3,01568602,2016-04-01 00:32:04,spcdrhellb01-prod.pgr.gob.mx,kernel.msgmax,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux spcdrhellb01-prod.pgr.gob.mx 2.6.32-504....,65536,"[6, 6]"
11,5510109,69954689-1856-4600-b6a8-9b2686ee32b3,01568602,2016-04-01 00:32:04,spcdrhellb01-prod.pgr.gob.mx,kernel.shmmax,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux spcdrhellb01-prod.pgr.gob.mx 2.6.32-504....,68719476736,"[6, 6]"
12,5510109,69954689-1856-4600-b6a8-9b2686ee32b3,01568602,2016-04-01 00:32:04,spcdrhellb01-prod.pgr.gob.mx,kernel.shmall,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux spcdrhellb01-prod.pgr.gob.mx 2.6.32-504....,4294967296,"[6, 6]"
13,5510109,69954689-1856-4600-b6a8-9b2686ee32b3,01568602,2016-04-01 00:32:04,spcdrhellb01-prod.pgr.gob.mx,net.core.netdev_max_backlog,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux spcdrhellb01-prod.pgr.gob.mx 2.6.32-504....,2000,"[6, 6]"
14,5510109,69954689-1856-4600-b6a8-9b2686ee32b3,01568602,2016-04-01 00:32:04,spcdrhellb01-prod.pgr.gob.mx,net.core.netdev_budget,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux spcdrhellb01-prod.pgr.gob.mx 2.6.32-504....,600,"[6, 6]"
15,731995,40262906-1107-4918-ac11-5df7521ea051,01609237,2016-04-01 01:00:47,dayrhevizp033c,net.ipv4.ip_forward,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux dayrhevizp033c 2.6.32-504.30.3.el6.x86_6...,0,"[6, 6]"
16,731995,40262906-1107-4918-ac11-5df7521ea051,01609237,2016-04-01 01:00:47,dayrhevizp033c,net.ipv4.conf.default.rp_filter,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux dayrhevizp033c 2.6.32-504.30.3.el6.x86_6...,1,"[6, 6]"
17,731995,40262906-1107-4918-ac11-5df7521ea051,01609237,2016-04-01 01:00:47,dayrhevizp033c,net.ipv4.conf.default.accept_source_route,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux dayrhevizp033c 2.6.32-504.30.3.el6.x86_6...,0,"[6, 6]"
18,731995,40262906-1107-4918-ac11-5df7521ea051,01609237,2016-04-01 01:00:47,dayrhevizp033c,kernel.sysrq,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux dayrhevizp033c 2.6.32-504.30.3.el6.x86_6...,1,"[6, 6]"
19,731995,40262906-1107-4918-ac11-5df7521ea051,01609237,2016-04-01 01:00:47,dayrhevizp033c,kernel.core_uses_pid,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux dayrhevizp033c 2.6.32-504.30.3.el6.x86_6...,1,"[6, 6]"
20,731995,40262906-1107-4918-ac11-5df7521ea051,01609237,2016-04-01 01:00:47,dayrhevizp033c,net.ipv4.tcp_syncookies,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux dayrhevizp033c 2.6.32-504.30.3.el6.x86_6...,1,"[6, 6]"
21,731995,40262906-1107-4918-ac11-5df7521ea051,01609237,2016-04-01 01:00:47,dayrhevizp033c,net.bridge.bridge-nf-call-ip6tables,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux dayrhevizp033c 2.6.32-504.30.3.el6.x86_6...,0,"[6, 6]"
22,731995,40262906-1107-4918-ac11-5df7521ea051,01609237,2016-04-01 01:00:47,dayrhevizp033c,net.bridge.bridge-nf-call-iptables,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux dayrhevizp033c 2.6.32-504.30.3.el6.x86_6...,0,"[6, 6]"
23,731995,40262906-1107-4918-ac11-5df7521ea051,01609237,2016-04-01 01:00:47,dayrhevizp033c,net.bridge.bridge-nf-call-arptables,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux dayrhevizp033c 2.6.32-504.30.3.el6.x86_6...,0,"[6, 6]"
24,731995,40262906-1107-4918-ac11-5df7521ea051,01609237,2016-04-01 01:00:47,dayrhevizp033c,kernel.msgmnb,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux dayrhevizp033c 2.6.32-504.30.3.el6.x86_6...,65536,"[6, 6]"
25,731995,40262906-1107-4918-ac11-5df7521ea051,01609237,2016-04-01 01:00:47,dayrhevizp033c,kernel.msgmax,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux dayrhevizp033c 2.6.32-504.30.3.el6.x86_6...,65536,"[6, 6]"
26,731995,40262906-1107-4918-ac11-5df7521ea051,01609237,2016-04-01 01:00:47,dayrhevizp033c,kernel.shmmax,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux dayrhevizp033c 2.6.32-504.30.3.el6.x86_6...,68719476736,"[6, 6]"
27,731995,40262906-1107-4918-ac11-5df7521ea051,01609237,2016-04-01 01:00:47,dayrhevizp033c,kernel.shmall,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux dayrhevizp033c 2.6.32-504.30.3.el6.x86_6...,4294967296,"[6, 6]"
28,731995,40262906-1107-4918-ac11-5df7521ea051,01609237,2016-04-01 01:00:47,dayrhevizp033c,vm.swappiness,etc/sysctl.conf,Red Hat Enterprise Linux Server release 6.6 (S...,sysctl.conf,Linux dayrhevizp033c 2.6.32-504.30.3.el6.x86_6...,0,"[6, 6]"

In [61]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                           'foo', 'bar', 'foo', 'foo'],
                      'B' : ['one', 'one', 'two', 'three',
                            'two', 'two', 'one', 'three'],
                     'C' : np.random.randn(8),
                     'D' : np.random.randn(8)})

df

     A      B         C         D
0  foo    one -0.198844 -0.360862
1  bar    one  1.267438 -1.756086
2  foo    two  2.764811  0.673600
3  bar  three -1.024869 -0.790700
4  foo    two -0.033706  2.218279
5  bar    two  0.523528 -1.023538
6  foo    one -1.114637  0.070839
7  foo  three  0.164519 -0.187780

In [66]:
grouptest = df.groupby(['A', 'B'])
grouptest.groups

{('bar', 'one'): [1],
 ('bar', 'three'): [3],
 ('bar', 'two'): [5],
 ('foo', 'one'): [0, 6],
 ('foo', 'three'): [7],
 ('foo', 'two'): [2, 4]}

In [64]:
grouptest.get_group(('bar', 'three'))

     A      B         C       D
3  bar  three -1.024869 -0.7907

In [67]:
grouptest.get_group(('foo', 'one'))

     A    B         C         D
0  foo  one -0.198844 -0.360862
6  foo  one -1.114637  0.070839

In [69]:
grouptest2 = df.groupby('A')
grouptest2.groups

{'bar': [1, 3, 5], 'foo': [0, 2, 4, 6, 7]}

In [70]:
for name, group in grouptest2 :  
   print(name)
   print(group)

bar
     A      B         C         D
1  bar    one  1.267438 -1.756086
3  bar  three -1.024869 -0.790700
5  bar    two  0.523528 -1.023538
foo
     A      B         C         D
0  foo    one -0.198844 -0.360862
2  foo    two  2.764811  0.673600
4  foo    two -0.033706  2.218279
6  foo    one -1.114637  0.070839
7  foo  three  0.164519 -0.187780

In [71]:
grouptest2.get_group('foo')

     A      B         C         D
0  foo    one -0.198844 -0.360862
2  foo    two  2.764811  0.673600
4  foo    two -0.033706  2.218279
6  foo    one -1.114637  0.070839
7  foo  three  0.164519 -0.187780

In [73]:
grouptest2['C'].agg([np.sum, np.mean, np.std])

          sum      mean       std
A
bar  0.766096  0.255365  1.169445
foo  1.582143  0.316429  1.453763

In [74]:
pd.options.display.max_rows = 3
pd.options.display.max_columns = 3

In [77]:
df.tail(3)

     A    ...            D
5  bar    ...    -1.023538
6  foo    ...     0.070839
7  foo    ...    -0.187780

[3 rows x 4 columns]

In [78]:
df.head()

      A    ...            D
0   foo    ...    -0.360862
..  ...    ...          ...
4   foo    ...     2.218279

[5 rows x 4 columns]

In [79]:
df.T

           0   ...           7
A        foo   ...         foo
..       ...   ...         ...
D  -0.360862   ...    -0.18778

[4 rows x 8 columns]

In [84]:
pd.options.display.max_rows = 999
pd.options.display.max_columns = 100

In [86]:
df

     A      B         C         D
0  foo    one -0.198844 -0.360862
1  bar    one  1.267438 -1.756086
2  foo    two  2.764811  0.673600
3  bar  three -1.024869 -0.790700
4  foo    two -0.033706  2.218279
5  bar    two  0.523528 -1.023538
6  foo    one -1.114637  0.070839
7  foo  three  0.164519 -0.187780

In [88]:
df.loc[[0,2], 'A':'C']

     A    B         C
0  foo  one -0.198844
2  foo  two  2.764811

In [90]:
df.loc[[0,2], ['A','C']]

     A         C
0  foo -0.198844
2  foo  2.764811

In [92]:
dates = pd.date_range('20150301', periods=6)
dates

DatetimeIndex(['2015-03-01', '2015-03-02', '2015-03-03', '2015-03-04',
               '2015-03-05', '2015-03-06'],
              dtype='datetime64[ns]', freq='D')

In [105]:
df = pd.DataFrame({'date': dates,
                   'name': ['b','c','d','h','a','e'],
                   'value': [4,5,5,3,2,1]})
df

        date name  value
0 2015-03-01    b      4
1 2015-03-02    c      5
2 2015-03-03    d      5
3 2015-03-04    h      3
4 2015-03-05    a      2
5 2015-03-06    e      1

In [107]:
df.sort_values(by=['value','name'],axis=0,ascending=True)

        date name  value
5 2015-03-06    e      1
4 2015-03-05    a      2
3 2015-03-04    h      3
0 2015-03-01    b      4
1 2015-03-02    c      5
2 2015-03-03    d      5

In [110]:
df.sort(columns=['value','date'], axis = 0, ascending = False)

/usr/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

        date name  value
2 2015-03-03    d      5
1 2015-03-02    c      5
0 2015-03-01    b      4
3 2015-03-04    h      3
4 2015-03-05    a      2
5 2015-03-06    e      1

In [109]:
df.sort(columns=['date','value'], axis = 0, ascending = False)

/usr/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

        date name  value
5 2015-03-06    e      1
4 2015-03-05    a      2
3 2015-03-04    h      3
2 2015-03-03    d      5
1 2015-03-02    c      5
0 2015-03-01    b      4

In [112]:
df

        date name  value
0 2015-03-01    b      4
1 2015-03-02    c      5
2 2015-03-03    d      5
3 2015-03-04    h      3
4 2015-03-05    a      2
5 2015-03-06    e      1

In [115]:
df[df.value > 3].sort(columns=['value'])

/usr/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

        date name  value
0 2015-03-01    b      4
1 2015-03-02    c      5
2 2015-03-03    d      5

In [116]:
df[df.value.isin([5,2])]

        date name  value
1 2015-03-02    c      5
2 2015-03-03    d      5
4 2015-03-05    a      2

In [118]:
left = pd.DataFrame({'key':['key1','key2'],'value':[1,2]})
left

    key  value
0  key1      1
1  key2      2

In [119]:
right = pd.DataFrame({'key':['key3','key4'],'value':[4,5]})
right

    key  value
0  key3      4
1  key4      5

In [126]:
pd.merge(left,right,on='key',how='right')

    key  value_x  value_y
0  key3      NaN        4
1  key4      NaN        5

In [121]:
hehe = pd.DataFrame({'key':['key3','key2'],'value':[4,5]})
hehe

    key  value
0  key3      4
1  key2      5

In [122]:
pd.merge(left,hehe,on='key',how='left')

    key  value_x  value_y
0  key1        1      NaN
1  key2        2      5.0

In [128]:
pd.merge(left,hehe,on='key',how='right')

    key  value_x  value_y
0  key2      2.0        5
1  key3      NaN        4

In [130]:
all = [left,right]
df3 = pd.concat(all)
df3

    key  value
0  key1      1
1  key2      2
0  key3      4
1  key4      5

In [133]:
print left
s = left.iloc[0]
print s

    key  value
0  key1      1
1  key2      2
key      key1
value       1
Name: 0, dtype: object

In [135]:
appended = left.append(s,ignore_index=True)
appended

    key  value
0  key1      1
1  key2      2
2  key1      1